<mat-card class="habit-card"  [ngClass]="{'active-habit': habit.isActive}">
 <div class="icon-wrapper" 
     [style.backgroundColor]="habit.color"
     [ngClass]="{'active-habit': habit.isActive}">
  <div class="icon-wrapper" 
       [matTooltip]="'Habit Goal: ' + habit.goal.toString()" 
       matTooltipPosition="above" 
       matTooltipShowDelay="300"
       [ngClass]="{'active-habit': habit.isActive}">
    <span class="material-symbols-rounded">{{ habit.icon }}</span>
  </div>
</div>


  <div class="habit-info">
    <h3>{{ habit.name }}</h3>
    <p class="description">
      {{ habit.description | slice:0:60 }}
    </p>
<div class="dates">
  <span [ngClass]="{'active-date': habit.isActive, 'expired-date': habit.isExpired}">
    Start: {{ habit.startDate | date: 'mediumDate' }}
  </span>
  <span *ngIf="habit.endDate" [ngClass]="{'active-date': habit.isActive, 'expired-date': habit.isExpired}">
    End: {{ habit.endDate | date: 'mediumDate' }}
  </span>
</div>

    <div class="status" [ngClass]="{'active': habit.isActive, 'expired': habit.isExpired}">
    </div>
  </div>

  <div class="actions">
    <button mat-icon-button (click)="onEdit()" aria-label="Edit">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="onDelete()" aria-label="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
